        <a href="index.php" class="logo">
      <span class="logo-mini">{{ PRODUCT_STYLIZED_NAME_SHORT|striptags("<b>")|raw }}</span>
      <span class="logo-lg">{{ PRODUCT_STYLIZED_NAME|striptags("<b>")|raw }}</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </nav>